.query-result__wrapper {
    &--content {
        > .card {
            > .card-body {
                min-height: 200px;

                a {
                    color: $black !important;
                    text-decoration: none !important;

                    .card.search-result-item {
                        h5 {
                            color: $black !important;
                        }
                    }
                }
            }
        }
    }
}

