$fa-font-path:                          "/fonts/vendor/@fortawesome/fontawesome-free" !default;
$body-background-color:                 #ededed;
$header-gradient-1:                     #fcd250;
$header-gradient-2:                     #fcc651;
$header-gradient-3:                     #fbbb53;
$header-gradient-4:                     #f9b055;
$header-gradient-5:                     #f5a658;
$acim-text-color:                       #f12c6e;
$acim-color-alternative:                #34364C;
$acim-color-secondary:                  #666666;

$whatsapp-light-green:                  #25d366;
$whatsapp-dark-green:                   #075e54;

$font-family-montserrat:                'Montserrat', sans-serif;
$font-family-roboto:                    'Raleway', sans-serif;
$font-family-mulish:                    'Raleway', sans-serif;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Raleway', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$gray: #4b4b4d;
$teal: #4dc0b5;
$cyan: #6cb2eb;
