.main-header {
    .logo {
        position: relative;
        img {
            max-height: 100%;
            margin: 0 auto;
        }
    }
}

.main-header .sidebar-toggle {
    &:before {
        content: ""
    }
}

table.table-bordered {
    &.dataTable {
        tbody {
            tr {
                td {
                    vertical-align: middle;
                }
            }
        }
    }
}

section.invoice {
    .label {
        padding: .75rem 1.25rem !important;

        &.label-bank-slip {
            background-color: #7ad588;
            color: #003f00;
            text-shadow: 1px 1px 1px #97f8a5;
        }

       &.label-credit-card {
            background-color: #FCB70A;
            text-shadow: 1px 1px 1px #fff4da;
            color: #50350c;
        }
    }

    table.table-venda-info {
        border-collapse: separate;
    }

    table.table > thead > tr > th,
    table.table > tbody > tr > td {
        vertical-align: middle;
    }
}



.sidebar-menu {
    >li {
        >a {
            font-size: 16px;
            > .fa,
            > .fas {
                width: 35px;
            }
        }
        .treeview-menu {
            >li {
                >a {
                    >.fa,
                    >.fas {
                        width: 20px;
                    }
                }
            }
        }
    }
}


@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse {
        .main-header {
            .logo {
                >.logo-mini {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin: 0 !important;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    section.invoice .page-header small.pull-right {
        float: none !important;
    }
}
